{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>Orderstatuses list</h1>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Dateadded</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for orderStatus in orderStatuses %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_orderstatus_show', { 'id': orderStatus.id }) }}">{{ orderStatus.id }}</a>
                            </td>
                            <td>{{ orderStatus.name }}</td>
                            <td>{% if orderStatus.dateAdded %}{{ orderStatus.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_orderstatus_show', { 'id': orderStatus.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_orderstatus_edit', { 'id': orderStatus.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('admin_orderstatus_new') }}">Create a new orderStatus</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
