{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-md-auto">
                <h1>Products list</h1>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Linecut</th>
                        <th>Holes</th>
                        <th>Picture</th>
                        <th>Dateadded</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.lineCut }}</td>
                            <td>{{ product.holes }}</td>
                            <td>{{ product.picture }}</td>
                            <td>{% if product.dateAdded %}{{ product.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('product_new') }}">Create a new product</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
