{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prices list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td><a href="{{ path('price_show', { 'id': price.id }) }}">{{ price.id }}</a></td>
                <td>{{ price.price }}</td>
                <td>{{ price.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('price_show', { 'id': price.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                            <li>
                                <a href="{{ path('price_edit', { 'id': price.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <li>
                <a href="{{ path('price_new') }}">Create a new price</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
